<!DOCTYPE html>
<html>
<head>
  <title>EpidemiologyApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>
</head>
<body>

  <header>
    <h1>EpidemiologyApp</h1>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Departments", departments_path %></li>
        <% if user_signed_in? %>
          <li>
        <%= button_to "Logout", destroy_user_session_path, method: :delete, form: { style: "display: inline;" } %></li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
    <p>&copy; 2025 EpidemiologyApp</p>
  </footer>

</body>
</html>
